.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    padding-left: 40rem;
    /* position: relative; */
    width: 200px;
    height: 200px;
}

.child {
    position: absolute;
    width: 150px;
    height: 250px;
    background-color: #ccc;
    margin: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    transform-origin: 50% 50%;
}

.child:nth-child(1) {
    transform: rotate(90deg) translate(99px) translateY(-337px)
}

.child:nth-child(2) {
    transform: rotate(45deg) translate(200px) rotate(-45deg);
}

.child:nth-child(3) {
    transform: rotate(90deg) translate(200px) rotate(-90deg);
}

.child:nth-child(4) {
    transform: rotate(-136deg) translate(-61px) translateY(-397px)
}

.child:nth-child(5) {
    transform: rotate(-90deg) translate(-106px) translateY(-302px)
}

.child:nth-child(6) {
    transform: rotate(-39deg) translate(-94px) translateY(-230px)
}

.child:nth-child(7) {
    transform: rotate(270deg) translate(200px) rotate(-270deg);
}

.child:nth-child(8) {
    transform: rotate(34deg) translate(106px) translateY(-231px);
}